/***** BASE STYLES ************/

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #2b2b2b;
}

#about, #work, #contact {
	height: 600px;
}



/***** GRID *****************/


.full-width {
    	width: 1200px;
    	margin: 0 auto;
}

.half-width {
  	width: 600px;
  	float: left;
}

.third-width {
  	width: 400px;
  	float: left;
}


/***** HEADER *************/


header {
   	  background: url('../img/headerphoto.png');
    	height: 1000px;
    	background-size: cover;
}

header h1 {
    	font-family: 'Lato', sans-serif;
			font-weight: bolder;
    	color: black;
    	font-size: 80px;
			letter-spacing: 5px;
    	padding-top: 30px;
}

nav {
    	float: right;
    	padding: 80px 25px;
    	font-family: 'Source Sans Pro', sans-serif;
}

nav ul li{
    	display: inline-block;
}

nav ul li a {
    	text-transform: uppercase;
    	font-size: 25px;
  	  text-decoration: none;
    	color: #828282;
    	padding-left: 80px;
}


header h2 {
    	width: 1000px;
    	clear: both;
    	font-family: 'Oswald', sans-serif;
			font-weight: normal;
    	font-size: 100px;
    	line-height: 80px;
    	color:  #e68a00;
			padding: 0px 40px 20px 0px;
}



/****ABOUT*****************/


#about .full-width {
    	padding: 80px 0;
}

#about h2 {
  	font-family: 'Lato', sans-serif;
  	font-size: 40px;
  	color: #2b2b2b;
  	padding-left: 10px;
}

#about p {
  	font-family: 'Source Sans Pro', sans-serif;
  	font-size: 21px;
  	color: #7F7F7F;
  	line-height: 40px;
  	padding-left: 10px;
 	padding-right: 50px;
}



/*****WORK*****************/

#work {
  	background: #e68a00;
  	text-align: center;
}

#work .full-width {
  	padding: 115px 0;
}

#work img {
  	padding-bottom: 30px;
}

#work h3 {
    	font-family: 'Lato', sans-serif;
    	color: #2B2B2B;
    	font-size: 24px;
    	line-height: 32px;
    	width: 190px;
    	margin: 0 auto;
}

#work p {
    	font-family: 'Lora', serif;
    	font-size:18px;
    	line-height: 30px;
    	color: #2B2B2B;
    	padding: 0 50px;
}


/****** CONTACT *************/


#contact {
	background: white;
}

#contact-image {
	height: 400px;
	width:  300px;
}

#contact .full-width {
    	padding: 110px 0;
}


#contact img#contact-image {
    	margin-left: 25px;
    	border: 12px solid #2b2b2b;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    	padding-left: 115px;
}

#contact #envelope {
    	padding: 0 10px 0 115px;
}


#contact h2 {
    	font-family: 'Source Sans Pro', sans-serif;
    	font-size: 36px;
    	line-height: 44px;
    	color: #2b2b2b;
}

#contact #email-header {
    	font-family: 'Source Sans Pro', sans-serif;
    	font-size: 32px;
    	font-weight: 400;
    	line-height: 44px;
   	  color: #2b2b2b;
    	margin: -30px 0 5px 0;
}

#contact #socialmedia-header {
    	font-family: 'Source Sans Pro', sans-serif;
    	font-weight: 700;
    	font-size: 29px;
    	line-height: 44px;
    	color: #2b2b2b;
    	margin: 40px 0 0 0;
}

#contact a {
    	text-decoration: none;
    	color: #2b2b2b;
    	font-weight: 700;
    	font-size: 28px;
}

#contact ul {
    	list-style: none;
}
#contact ul li {
     	display: inline-block;
}
#contact ul img {
    	font-size: 32px;
    	padding-right: 48px;
}


	/****** WORK PAGE *************/

#gallery {
	background: green;
	height: 700px;
	width; 1200px;
}

#gallery h1 {
	color: pink;
}


/****** CONTACT PAGE ************/

#address {
	background: #e68a00;
	width; 1200px;
	height: 900px;
}

#address h1 {
	color: pink;
}
